body {
  background-color: indigo;
}

#clock {
  position: relative;
  top: 10px;
  left: 80px;
  width: 160px;
}

.box1 {
  color: #3d087b;
  position: absolute;
  top: 100px;
  left: 120px;
  width: 500px;
  height: 335px;
  background-color: white;
  border-radius: 20px;
}

.morning {
  position: absolute;
  opacity: 0.23;
  top: 460px;
  left: 124px;
  width: 500px;
  height: 77px;
  color: white;
  background-color: purple;
  border-radius: 20px;
}

#alarm {
  background-image: linear-gradient(
    to right,
    #6e54ec,
    #cb52f8,
    #fc5eff,
    #f1a7c5
  );
  position: absolute;
  top: 560px;
  left: 124px;
  width: 299px;
  height: 50px;
  color: white;
  text-align: center;
  font-size: x-large;
  border-radius: 15px;
}

.timings {
  background-color: violet;
  opacity: 0.53;
  position: absolute;
  top: 560px;
  left: 437px;
  width: 195px;
  height: 90px;
}

#hover {
  color: red;
}

.box2 {
  text-align: center;

  background-color: white;
  position: absolute;
  top: 170px;
  left: 660px;
  width: 510px;
  height: 118px;
  border-radius: 10px;
}

#imgchange {
  position: relative;
  top: 40px;
  width: 510px;
  height: 350px;
}

.box3 {
  color: #6e54ec;
  background-color: white;
  position: absolute;
  top: 42px;
  left: 660px;
  width: 510px;
  height: 100px;
  z-index: 3;
  border-radius: 15px;
}

.box3 > #t1 {
  color: #6e54ec;
  background-color: #f1a7c5;
  height: 72px;
  width: 56px;
  position: absolute;
  top: 10px;
  left: 120px;
  border-radius: 10px;
}

.box3 > #t2 {
  color: #6e54ec;
  background-color: #f1a7c5;
  height: 72px;
  width: 56px;
  position: absolute;
  top: 10px;
  left: 200px;
  border-radius: 10px;
}

.box3 > #t3 {
  color: #6e54ec;
  background-color: #f1a7c5;
  height: 72px;
  width: 56px;
  position: absolute;
  top: 10px;
  left: 280px;
  border-radius: 10px;
}

.box3 > #format {
  color: white;
  background-color: rgb(187, 56, 187);
  height: 72px;
  width: 56px;
  position: absolute;
  top: 10px;
  left: 360px;
  border-radius: 10px;
  text-align: center;
  font-size: x-large;
}

.box4 {
  background-color: #f1a7c5;
  position: absolute;
  top: 55px;
  left: 710px;
  width: 416px;
  height: 100px;
  opacity: 0.71;
  z-index: 2;
  border-radius: 10px;
}

.box5 {
  background-color: #6e54ec;
  position: absolute;
  top: 67px;
  left: 730px;
  width: 379px;
  height: 95px;
  opacity: 0.22;
  z-index: 1;
  border-radius: 10px;
}

p {
  position: relative;
  bottom: 20px;
}
