body{
    background-color: indigo;
}

#clock{
    position: relative;
    left: 100px;
    top: 70px;

}

.box1{
    background-color: white;
    position: absolute;
    top: 200px;
    left: 108px;
    width: 330px;
    height: 111px;
}

.box2{ 
    
    color: #6E54EC;
    background-color: white;
position: absolute;
top: 380px;
left: 108px;
width: 510px;
height: 100px;
z-index:3;
}


.box2 > #t1{
    
    color: #6E54EC;
    background-color: #F1A7C5;
    height: 72px;
    width: 56px;
    position: absolute;
    top: 10px;
    left: 120px;
    
}

.box2 > #t2{
    
    color: #6E54EC;
    background-color: #F1A7C5;
    height: 72px;
    width: 56px;
    position: absolute;
    top: 10px;
    left: 200px;
    
}

.box2 > #t3{
    
    color: #6E54EC;
    background-color: #F1A7C5;
    height: 72px;
    width: 56px;
    position: absolute;
    top: 10px;
    left: 280px;
    
}

.box2 > #t4{
    
    color: white;
    background-color:rgb(187, 56, 187);
    height: 72px;
    width: 56px;
    position: absolute;
    top: 10px;
    left: 360px;
    
}

.box3{
    background-color: #F1A7C5;
    position: absolute;
    top: 390px;
    left: 152px;
    width: 416px;
    height: 100px;
    opacity: 0.71;
    z-index: 2;
}


.box4{
    background-color:#6E54EC;
    position: absolute;
    top: 410px;
    left: 172px;
    width: 379px;
    height: 95px;
    opacity: 0.22;
    z-index: 1;
}

.timings{
    width: 270px;
    height: fit-content;
    background-color: white;
    position: absolute;
    left: 108px;
    top: 540px;
    text-align: left;

}


.ab{
    font-size: small;
    background-color: rgb(196, 252, 252);
    color: aqua;
    position: absolute;
    top: 740px;
    left: 108px;
    width: 200px;
    height: 20px;
    margin-bottom: 10px;
}

.bc{
    background-color: rgb(196, 252, 252);
    color: aqua;
    position: absolute;
    top: 770px;
    left: 108px;
    width: 200px;
    height: 25px;
    
}
.cd{
    background-color: rgb(196, 252, 252);
    color: aqua;
    position: absolute;
    top: 810px;
    left: 108px;
    width: 200px;
    height: 25px;
   
}
.de{
    background-color: rgb(196, 252, 252);
    color: aqua;
    position: absolute;
    top: 850px;
    left: 108px;
    width: 200px;
    height: 25px;
    
    
    
}


h5{

    position: relative;
    bottom: 10px;
}

.container{
    position: absolute;
    right: 50px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    gap: 30px;

}
