body{
    background-color: indigo;
}

#clock{
    position: relative;
    top: 10px;
    left: 80px;
    width: 160px;
}


.box1{
    color: #3D087B;
    position: absolute;
    top: 100px;
    left: 120px;
    width: 500px;
    height: 335px;
    background-color: white;
    
}


.morning{
    position: absolute;
    opacity: 0.23;
    top: 460px;
    left: 124px;
    width: 500px;
    height: 77px;
    color: white;
    background-color:purple ;
    
}

.alarm{
    background-image:linear-gradient(to right,#6E54EC,#CB52F8,#FC5EFF,#F1A7C5) ;
    position: absolute;
    top: 560px;
    left: 124px;
    width: 299px;
    height: 50px;
    color: white;
    text-align: center;
    font-size: x-large;
}


.timings{
    background-color: violet;
    opacity: 0.23;
position: absolute;
top: 560px;
left: 437px;
width: 195px;
height: 90px;
}

.box2{
    
    text-align: center;
    
    background-color: white;
    position: absolute;
    top: 170px;
left: 660px;
width: 510px;
height: 118px;
}

#morningimg{
    position: relative;
    top: 80px;
    width: 510px;
}

.box3{
    
    color: #6E54EC;
    background-color: white;
position: absolute;
top: 42px;
left: 660px;
width: 510px;
height: 100px;
z-index:3;
}


.box3 > #t1{
    
    color: #6E54EC;
    background-color: #F1A7C5;
    height: 72px;
    width: 56px;
    position: absolute;
    top: 10px;
    left: 120px;
    
}

.box3 > #t2{
    
    color: #6E54EC;
    background-color: #F1A7C5;
    height: 72px;
    width: 56px;
    position: absolute;
    top: 10px;
    left: 200px;
    
}

.box3 > #t3{
    
    color: #6E54EC;
    background-color: #F1A7C5;
    height: 72px;
    width: 56px;
    position: absolute;
    top: 10px;
    left: 280px;
    
}

.box3 > #t4{
    
    color: white;
    background-color:rgb(187, 56, 187);
    height: 72px;
    width: 56px;
    position: absolute;
    top: 10px;
    left: 360px;
    
}


.box4{
    background-color: #F1A7C5;
    position: absolute;
    top: 55px;
    left: 710px;
    width: 416px;
    height: 100px;
    opacity: 0.71;
    z-index: 2;
}


.box5{
    background-color:#6E54EC;
    position: absolute;
    top: 67px;
    left: 730px;
    width: 379px;
    height: 95px;
    opacity: 0.22;
    z-index: 1;
}

p{
    position: relative;
    bottom: 20px;
}